.about {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 30px 50px 30px 50px;
}

.about__title {
    width: 100%;
    margin: 0 0 20px 0;
}

.about__title h1 {
    position: relative;
    width: 100px;
}

.about__title h1:after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 85px;
    height: 2px;
    background-color: #7b7cd4;
}

.about__profile {
    width: 250px;
    height: 250px;
}

.about__content {
    padding: 0 0 0 20px;
}