.contact {
    padding: 30px 50px 30px 50px;
    background: #eeeeee;
}

.contact__title h1 {
    position: relative;
}

.contact__title h1:after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 105px;
    height: 2px;
    background-color: #7b7cd4;
}

.contact__content {
    margin-top: 10px;
}