.skill {
    background-color: #fff;
    padding: 30px 50px 30px 50px;
}

.skill__title h1 {
    position: relative;
}

.skill__title h1:after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #7b7cd4;
}

.skill__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skillName {
    width: 30%;
}

.skillList {
    list-style: circle;
    width: 70%;
    margin-bottom: 30px;
}